# 构建产物
dist
build

# 依赖
node_modules

# 缓存
.cache
.temp

# 自动生成的文件
auto-imports.d.ts
components.d.ts

# 测试覆盖率报告
coverage

# 静态资源
public
static

# 编辑器配置
.vscode
.idea

# 环境变量
.env.*

# 日志
*.log

# 其他
*.min.js
*.min.css 